html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2,h3,h4,h5,h6 {
  color: #f7b32b;
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #695958;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.login {
  padding: 0 30px 30px;
  background: #f7b32b;
  border: black 2px solid;
}

.btn-group {
  margin-top: 20px;
}

.btn {
  padding: 10px;
  border: none;
  width: 120px;
}

.btn-login {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  background-color: #ffffe0;
  font-weight: 700;
}

.g-signin2 {
  float: right;
}

.btn-login,
.g-signin2 {
  display: inline-block;
  vertical-align: middle;
}

header {
  background-color: #272838;
  padding: 20px;
  position: relative;
  width: 100%;
  display: inline-block;
  color: #f7b32b;
}

#logo, #nav {
  float: left;
}

#nav {
    float: right;
}

#nav li {
  display: inline-block;
  padding-right: 10px;

}
#nav li a {
  font-size: 1.25em;
  text-decoration: none;
  color: #f7b32b;
}

.flex-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
}

.inverted {
  color: #272838;
}

.white {
  color: #fff;
}

.withbg {
  background: #f7b32b;
  border-radius: 5px;
  padding: 5px;
}

.group {
  margin-bottom: 5px;
}

.msg {
  text-align: center;
  margin-top: 20px;
  background-color: tomato;
}

.chatroom__list {
  width: 100%;
}

.channels {
  background-color: #272838;
  padding: 10px 20px;
  width: 400px;
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  color: #ffffe0;
}

.channels h2 {
  margin: 0;
}

.channel__name {
  padding: 0 20px 20px;
}

.name{
  display: block;
  margin: 0 0 20px;
}

ul, ul ul {
  list-style: none;
  padding: 0;
}

.roomList {
  background-color: #ffa630;
  width: 100%;
  height: 80px;
  padding: 20px;
  margin-bottom: 5px;
  text-align: left;
  border: none;
}

.roomList a {
  text-decoration: none;
  color: #000;
}

.btnWrap {
  float: right;
}

.serverName {
  font-size: 1.25em;
  font-weight: 700;
}

.server-type,
.server-id {
  display: block;
}

.chatInterface__window {
  width: 100%;
  height: 500px;
  overflow-y: auto;
  background-color: #efefef;
}

.chatInterface__controls {
  width: 100%;
  height: 100%;
}

.chat-bubble {
  padding: 20px;
  background-color: #ffffe0;
  color: #272838;
}

.timestamp {
  float: right;
  opacity: 0.5;
  font-size: 0.8em;
}

.chat-bubble:nth-child(2n+1) {
  background-color: #272838;
  color: #ffffe0;
}

.chatmsg {
  margin-top: 15px;
}

#chatArea, #sendBtn {
  display: inline-block;
  float: left;
}

#chatArea {
  width: 90%;
  height: 120px;
}

#sendBtn {
  width: 10%;
  height: 120px;
  background-color: #ffa630;
  border: none;
}
